# Activer la fonctionnalité Apache de réécriture d'URL.
RewriteEngine On

# Mais activer la réécriture d'URL SEULEMENT si l'URL demandée
# n'est pas un dossier qui existe (directory).
RewriteCond %{REQUEST_FILENAME} !-d

# Mais activer la réécriture d'URL SEULEMENT si l'URL demandée
# n'est pas un fichier qui existe (filename).
RewriteCond %{REQUEST_FILENAME} !-f

# Réécrire l'URL pour renseigner le script PHP, en remplaçant la
# fin par index.php?page=morceau-d-url-tape-par-l-internaute
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]

# Exemple :
# localhost/mon/site/products => localhost/mon/site/index.php?page=products
